/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes contour {
	0% {
		fill: var(--main-color);
	}
	100% {
		fill: var(--accent-color);
	}
}

@keyframes core {
	0% {
		fill: none;
	}
	50% {
		fill: var(--accent-color);
	}
	100% {
		fill: var(--accent-color);
	}
}

@keyframes main-body {
	0% {
		fill: none;
	}
	25% {
		fill: none;
	}
	50% {
		fill: var(--accent-color);
	}
	75% {
		fill: var(--accent-color);
	}
	100% {
		fill: var(--accent-color);
	}
}

@keyframes heart {
	0% {
		fill: none;
	}
	50% {
		fill: var(--accent-color);
		transform: scale(1.2);
	}
	100% {
		fill: var(--accent-color);
		transform: scale(1);
	}
}

@keyframes sparks {
	0% {
		fill: none;
	}
	100% {
		fill: var(--accent-color);
	}
}
